<!DOCTYPE html>
<html lang="en">

<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inspire</title>

 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">



</head>

<body>
    <div id="image"></div>

    <div class="container upperL" id="todo">
        <!-- Panel for holding our input -->
        <section class="panel">

            <input type="checkbox" id="mark-all" v-bind:checked="areAllSelected" v-on:click="selectAll">
            <input type="text" placeholder="What do you need to do?" autofocus class="text-input" v-model="newTask" v-on:keyup.enter="addTask">            {{ taskList.length }}
            <button v-on:click="clearList">Clear List</button>

        </section>


        <ul class="list">

            <li v-for="task in taskList" v-bind:class="{done: task.checked}">

                <input type="checkbox" class="checkbox" v-model="task.checked" v-on:click="addTask">

                <label for="checkbox">{{ task.text }}</label>

                <button class="delete" v-on:click="removeTask(task)">X</button>

            </li>

        </ul>
        <!--for testing-->
        <!--<pre>{{ $data }}</pre> -->
    </div>

    <div id="weather" class="upperR" v-on:click="toggleTemp" v-model="displayTemp">

        <p>City: {{weather.name}}
        </p>
        <p>Current Temp {{ displayTemp }} {{ degrees }}</p>

    </div>

    <div id="quote" class="lowerL" v-bind:title="quote.author">

        {{quote.quote}}

    </div>







    <!--JS Libraries-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!--Initialize App-->
    <!--<script src="app/init.js"></script>-->
    <script src="app/components/weather/weather-service.js"></script>
    <script src="app/components/image/image-service.js"></script>
    <script src="app/components/quote/quote-service.js"></script>
    <script src="app/components/todo/todo-service.js"></script>

    <!--Load your scripts below-->
    <script src="app/components/weather/weather-controller.js"></script>
    <script src="app/components/image/image-controller.js"></script>
    <script src="app/components/quote/quote-controller.js"></script>
    <script src="app/components/todo/todo-controller.js"></script>

</body>

</html>